@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Lora", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}
